@charset "utf-8";

/*모바일 기본 화면*/
#wrap{min-width: 320px;}

header{width: 100%; height: 80px; position: fixed; z-index: 99;}
header .inner{padding: 20px;}
header .inner h1{width: 120px; height: 30px;}

header .inner h1.active a{display: block; width: 30px; height: 30px; background: url(../img/m_logo.png) no-repeat center / auto 30px; font-size: 0; color: transparent;}
header .inner h1 a{display: block; width: 120px; height: 30px; background: url(../img/logo.png) no-repeat left center / 120px auto; font-size: 0; color: transparent;  transition: all 0.3s;}

header .inner .ham-wrap{ cursor: pointer; width: 25px; height: 25px; position: absolute; top: 25px; right: 20px;}
header .inner .ham-wrap span{display: block; width: 25px; height: 2px; background-color: #003060; transition: all 0.3s;}
header .inner .ham-wrap span:nth-child(1){position: absolute; top:3px; left: 0; }
header .inner .ham-wrap span:nth-child(2){position: absolute; top:11px; left: 0;}
header .inner .ham-wrap span:nth-child(3){position: absolute;  bottom: 3px; left: 0;}

header .inner .ham-wrap.active span:nth-child(2){opacity: 0;}
header .inner .ham-wrap.active span:nth-child(1){position: absolute; top: 50%; transform: translateY(-50%); transform: rotate(45deg);}
header .inner .ham-wrap.active span:nth-child(3){position: absolute;  top: 50%; transform: translateY(-50%); transform: rotate(-45deg);}


nav{display: none;position: absolute; top: 0; left: 0; padding-top: 50px;  width: 100%; height: 100vh; background-color: #fff; z-index: -1;}
nav .inner{padding:  0 20px;}

nav.show{display: block;}

nav .m-menu{width: 100%; height: auto; padding: 20px 0;}
nav .m-menu .mdepth1 > .arr{display: block; width: 100%; padding: 10px; font-weight: 700; font-size: 20px; position: relative; border-bottom: 2px solid rgba(0, 48, 96, 0.7);}
nav .m-menu .mdepth1 .arr span img{position: absolute; top: 50%; right: 5px; transform: translateY(-50%);}
nav a{color: #003060;}

nav .m-menu .mdepth1 .arr span.move img{transform: rotate(180deg);}

.depth2{display: none; width: 95%; margin: 0 auto; height: auto; padding: 15px;}
.depth2 li{padding:5px;}
.depth2 li:hover a{text-shadow: 1px 1px rgba(0, 0, 0, 0.2);}

#main-visual{width: 100%; height: auto; background-color: #FAFCFF; position: relative; top: 0; left: 0;}

.img-box{width: 100%; height: 550px;}
.img-box img:nth-child(1){position: absolute; top: 100px; left: 0; width: 95%; height: auto;}
.img-box img:nth-child(2){position: absolute; top: 200px; right: 0; width: 85%; height: auto;}
.img-box img:nth-child(3){position: absolute; top: 250px; right: 0; width: 30%; height: auto; z-index: 1;}
.img-box img:nth-child(4){position: absolute; bottom: 50px; left: 0; width: 95%; height: auto; z-index: 2;}
.img-box img:nth-child(5){position: absolute; bottom:0; left: 50%; transform: translateX( -50%); width: 90%; height: auto; }

#container{width: 100%; height: auto; position: relative; top: 0; left: 0;}
#container .inner{padding:30px;}

#container .inner .scroll{height: 100px;}
#container .inner .scroll img:nth-child(1){position: absolute; top: 30px; left: 50%; transform: translateX(-50%);}
#container .inner .scroll img:nth-child(2){position: absolute; top: 60px; left: 50%; transform: translateX(-50%); animation: scroll 1s; animation-iteration-count:infinite;}

@keyframes scroll {
  0%{opacity: 1; top: 60px;}
  50%{opacity: 1; top: 65px;}
  100%{opacity: 1;top: 60px;}
}

#container{white-space: nowrap;}
#container .inner h2{text-align: center; padding-bottom: 70px; font-size: 30px;}

.content-img-box img{width: 310px; height: 320px; object-fit: cover; border-radius: 30px; margin-bottom: 50px;}

.content-text-box{line-height: 1.5;}
.content-text-box h3{font-size: 22px; font-weight: bolder;}
.content-text-box p{margin-bottom: 80px;}

.sub-conbox{display: none;}

.content2{text-align: right}









@media screen and (min-width:768px) {
  header{position : inherit; height: 250px; background-color: #fff;}
  header .inner{padding: 50px;}
  header .inner h1{margin: 0 auto;}
  header .inner h1 a{width:150px; height: 80px; background-size: 150px auto;}
  .ham-wrap{display: none;}

  nav{display: block; width: auto; height: auto; position: absolute; top: 100px; left: 50%; transform: translateX(-50%); white-space: nowrap; z-index: 100; background-color: transparent; padding-top: 0;}
  nav ul{display: flex;}
  nav .m-menu{padding: 0;}

  nav .m-menu .mdepth1{ padding: 20px 30px 0 30px; }
  nav .m-menu .mdepth1 > .arr{border-bottom: 0;font-size: 16px; padding: 0; position: relative;}
  nav .m-menu .mdepth1 > .arr:hover{border-bottom: 2px solid rgba(0, 48, 96, 0.7) ;}

  nav .m-menu .mdepth1 .arr span img{display: none;}

  .depth2{display: none; width: auto; padding: 15px; text-align: center; position: absolute; top: 90px; left: 0;}
  nav .m-menu .mdepth1:nth-child(1) .depth2{left: 47px;}
  nav .m-menu .mdepth1:nth-child(2) .depth2{left: 151px;}
  nav .m-menu .mdepth1:nth-child(3) .depth2{left:297px;}
  nav .m-menu .mdepth1:nth-child(4) .depth2{left: 436px;}

  .depth2 li{padding:5px 0;}
  .depth2 li:hover a{text-shadow: 1px 1px rgba(0, 0, 0, 0.1);}
  nav .m-menu .mdepth1:hover .depth2{display: block; box-shadow: 1px 1px 10px 10px rgba(0 ,0,0,0.01);}
  nav .m-menu .mdepth1:hover .arr{border-bottom: 2px solid rgba(0, 48, 96, 0.7) ;}

  #main-visual{height: 100vh;}

  .img-box img:nth-child(1){top: 10%; left: 0; width: 70%; height: auto; z-index: 1;}
  .img-box img:nth-child(2){ top: 27%; left: 50%; transform: translateX(-50%); width:90%; height: auto;}
  .img-box img:nth-child(3){ top: 50%; right:15%; width: 35%; height: auto;}
  .img-box img:nth-child(4){left: auto; right: 0; top: auto; bottom: 15%; width:50%; height: auto;}
  .img-box img:nth-child(5){top:0; left: 50%; transform: translateX(-50%); width: auto; height: 100%;}

  @keyframes fadeIn {
    0%  {opacity: 0; left: -70%;}
    100% {opacity: 1; left: 0;}
  }
  @keyframes fadeIn2 {
    0% {opacity: 0; left: -70%;}
    100% {opacity: 1; left: 50%;}
  }
  @keyframes faderight {
    0% {opacity: 0; right: -30%;}
    100% {opacity: 1; right: 15%;}
  }
  @keyframes faderight2 {
    0% {opacity: 0; right: -50%;}
    100% {opacity: 1; right: 0%;}    
  }
  @keyframes fadeTop {
    0%{opacity: 0; top: -50%;}
    20%{opacity: 0;}
    100%{opacity: 1; top: 0;}
    
  }
  .img-box img:nth-child(1){animation: fadeIn 5s ;}
  .img-box img:nth-child(2){animation: fadeIn2 5s;}
  .img-box img:nth-child(3){animation: faderight 5s ;}
  .img-box img:nth-child(4){animation: faderight2 5s;}
  .img-box img:nth-child(5){animation: fadeTop 5s;}

  .scroll{display: none;}
  #container .inner h2{display: none;}
  }

  .sub-conbox{display: block;}

@media screen and (min-width:1200px) {
  header{height: 300px;}
  header .inner h1 a{width:200px; height: 150px; background-size: 200px auto;}

  nav{top:120px;}

  .img-box img:nth-child(1){width: 50%;}
  .img-box img:nth-child(2){width:80%;}
  .img-box img:nth-child(3){right:30%; width: 25%;}

  @keyframes faderight {
    0% {opacity: 0; right: -30%;}
    100% {opacity: 1; right: 30%;}
  }
}