@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}

body{font-family: "Marko One", serif; line-height: 1.35; font-size: 16px; color: #000;}
/*body::-webkit-scrollbar{display: none;}*/
a{text-decoration: none; color: #000;}
img{vertical-align: top;}
ul,ol{list-style:none;}
input, select{vertical-align: top; outline: none;}

.hidden{font-size: 0; color: transparent;}